<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<h1>Login Page</h1>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/addBook}">Add Book</a></li>
        <li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}">Register</a></li>
    </ul>
</nav>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<body>
<div th:if="${param.success}">
    You successfully registered. Please use your credentials to log in.
</div>
<div th:if="${param.error}">
    Login or password incorrect.
</div>

<div th:if="${param.logout}">
    You've been logged out.
</div>
<form th:action="@{/login}" method="post">
    <table class="center">
        <caption>
            <h2>Login</h2>
        </caption>
        <tr>
            <th>Username</th>
            <td><input name="username" type="text" placeholder="Username"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input name="password" type="password" placeholder="Password"></td>
        </tr>
        <tr>
            <th>code</th>
            <td><input type="text" name="code"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit">Log in</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
